h1 {
  text-align: center;
}

body {
  background-color: black;
  /* Set the background to black */

  color: white;
  /* Set text color to white */

  font-family: 'Press Start 2P', cursive;
  /* Use the pixel-art font */
}